* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #0b0911;
  font-family: "Roboto", sans-serif;
  color: #ffff;
}
#intro {
  margin-top: 30px;
  padding: 0 0 32px;
}
#intro p {
  margin-top: 8px;
}
#tabela {
  border: 1px solid red;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-areas:
    "A B"
    "C D";
}
.vazio {
  background-color: #1c162c;
  border: 1px solid red;
  grid-area: A;
  width: 96px;
  height: 64px;
}
.tablecol {
  display: flex;
  flex-direction: column;
  grid-area: C;
  border: 1px solid red;
  padding: 32px 0px;
  gap: 32px;
  background-color: #1c162c;
}
.tablecol p {
  padding: 10px;
  height: 48px;
  width: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tablehead {
  grid-area: B;
  display: flex;
  justify-content: space-between;
  padding: 15.5px 16px;
  gap: 32px;
  background-color: #1c162c;
}
.tablehead p {
  display: flex;
  width: 230px;
  height: 33px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.vazio2 {
  border: 1px solid blue;
  padding: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: max-content max-content;
  grid-template-areas: "D F G";
}
.col1 {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  grid-area: D;
  align-items: center;
  width: 213px;
  height: 448px;
  gap: 32px;
}
.col1 p {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  border-radius: 24px;
  height: 48px;
  background-color: #8257e5;
}
#b1 {
  width: 176px;
}
#b2 {
  width: 162px;
  background-color: #9674e5;
}
#b3 {
  width: 163px;
  border-color: #d9cdf7;
  border: 2px solid;
}
#b4 {
  width: 183px;
  opacity: 56%;
}
#b5 {
  gap: 8px;
  padding: 24px 12px;
  width: 201px;
}
#b6 {
  gap: 8px;
  padding: 24px 12px;
  width: 213px;
}
.col2 {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  grid-area: F;
  align-items: center;
  width: 238px;
  height: 448px;
  gap: 32px;
}
.col2 p {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  height: 48px;
  background-color: #3c3748;
  border-radius: 24px;
}
#b7 {
  width: 200px;
}
#b8 {
  width: 187px;
  background-color: #6A617F;
}
#b9 {
  width: 187px;
  border-color: #d9cdf7;
  border: 2px solid;
}
#b10 {
  width: 207px;
  opacity: 56%;
}
#b11 {
  gap: 8px;
  padding: 24px 12px;
  width: 225px;
}
#b12 {
  gap: 8px;
  padding: 24px 12px;
  width: 238px;
}
.col3 {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  grid-area: G;
  align-items: center;
  width: 230px;
  height: 448px;
  gap: 32px;
}
.col3 p {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  height: 48px;
  background-color: #0B0911;
  border-radius: 24px;
}
#b13 {
  width: 181px;
}
#b14 {
  width: 168px;
}
#b15 {
  width: 168px;
  border-color: #d9cdf7;
  border: 2px solid;
}
#b16 {
  width: 188px;
  opacity: 56%;
}
#b17 {
  gap: 8px;
  padding: 24px 12px;
  width: 215px;
  
}
#b18 {
  gap: 8px;
  padding: 24px 12px;
  width: 230px;
}
.col3 p:hover{
  background-color: #9674e5;
}
