* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #0b0911;
  font-family: "Roboto", sans-serif;
  color: #ffff;
}
#intro {
  margin-top: 30px;
  padding: 0 0 32px;
}
#intro p {
  margin-top: 8px;
}
#tabela {
  border: 1px solid red;
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-areas:
    "A B"
    "C D";
}
.vazio {
  background-color: #1c162c;
  border: 1px solid red;
  grid-area: A;
  width: 96px;
  height: 64px;
}
.tablecol {
  display: flex;
  flex-direction: column;
  grid-area: C;
  border: 1px solid red;
  padding: 32px 0px;
  gap: 32px;
  background-color: #1c162c;
}
.tablecol p {
  padding: 10px;
  height: 48px;
  width: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tablehead {
  grid-area: B;
  display: flex;
  justify-content: space-between;
  padding: 15.5px 16px;
  gap: 32px;
  background-color: #1c162c;
}
.tablehead p {
  display: flex;
  width: 230px;
  height: 33px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.vazio2 {
  border: 1px solid blue;
  padding: 32px;
  display: grid;
  gap: 32px;
  grid-template-columns: max-content max-content;
  grid-template-areas:
    "D F G";
}
.col1 {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  grid-area: D;
  justify-content: center;
  align-items: center;
  width: 213px;
  height: 448px;
  gap: 32px;
  
}
.col1 p {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 176px;
  height: 48px;
  background-color: #8257e5;
  border-radius: 24px;
}
.col2{
  grid-area: F;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
  width: 213px;
  height: 448px;
  gap: 32px;
  justify-content: space-between;
}
.col2 p {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  width: 176px;
  height: 48px;
  background-color: #8257e5;
  border-radius: 24px;
}
