* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #0b0911;
  font-family: "Roboto", sans-serif;
  color: #ffff;
}
#intro {
  margin-top: 30px;
  padding: 0 0 32px;
}
#intro p {
  margin-top: 8px;
}
#tabeladebutao {
  
}   
table {
  border: 5px solid #1C162C;
  border-collapse: collapse;
  background-color: #1c162c;

  border-radius: 8px ;
}
th {
  padding: 20px;
  text-align: center;
  align-items: center;

}
td {
  
  text-align: center;
  align-items: center;
  background-color: #0b0911;
}
.line1  {
  background-color: #8257E5;
  padding: 24px 12px;
  border-radius: 24px;
}
